/* stylelint-disable-next-line block-no-empty */
.filterbar {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  .title {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .sub-title {
    font-size: 1.2rem;
    margin-top: 3rem;
  }

  .filters {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-bottom: 4.5rem;
  }

  .filter {
    font: 1.8rem/2rem Helvetica;
    padding: 0 2.5rem;
    cursor: pointer;

    &.is-selected {
      text-decoration: underline;
      color: blue;
    }
  }

  .slider-wrapper {
    text-align: center;
  }

  .range-slider {
    margin-top: 1rem;
  }

  .negative-button {
    background-color: #D50000;
  }

  .neutral-button {
    background-color: #2962FF;
  }

  .positive-button {
    background-color: #64DD17;
  }

  .tiles {
    display: flex !important;
  }
}
